<h1>Albumes</h1>

{% for album in albumes_usuario %}
<li><a href="{% url 'photos:album' album.nombre %}">{{ album.nombre }}</a></li>
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'photos:crear_album' %}" method="post">
{% csrf_token %}
<h3>Crear Nuevo Album</h3>
<label for="album">Nombre</label>
<input type="text" name="album" id="album" placeholder="Ingrese un nombre para el nuevo album" />
    
<input type="submit" value="Crear" />
</form>