<h1>Usuarios</h1>

{% if success_message %}<p><strong>{{ success_message }}</strong></p>{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'photos:crear_perfil' %}" method="POST">
    {% csrf_token %}
    <h3>Registro Usuarios</h3>
    <label for="nombreusuario">Nombre de Usuario</label>
    <input type="text" id="nombreusuario" name="nombreusuario" placeholder="Ingrese un nombre de usuario.">
    <label for="correo">Correo Electronico</label>
    <input type="email" id="correo" name="correo" placeholder="Ingrese un correo electronico.">
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" placeholder="Ingrese una contraseña.">
    <label for="ciudad">Ciudad de Residencia</label>
    <input type="text" id="ciudad" name="ciudad" placeholder="Ingrese su ciudad de residencia.">
    <label for="fecha_nacimiento">Fecha Nacimineto</label>
    <input type="datetime" id="fecha_nacimiento" name="fecha_nacimiento">
    <button type="submit">Guardar</button>
</form>
